:root {
  --color-background: #BFB1DF;
  --color-foreground: #4F32DC;
  --color-handle: #300ddb;
  --size: 12px;
  --full-size: calc(var(--size) * 2);
}

.component {
  align-items: center;
  display: flex;
  gap: 12px;
}

.slider {
  flex: 1 0;
  height: calc(var(--full-size));
  position: relative;
}

.bar {
  border-radius: 4px;
  height: var(--size);
  margin-top: calc(var(--size) / 2);
  position: absolute;
  width: 100%;
}

.background {
  background-color: var(--color-background);
}

.foreground {
  background-color: var(--color-foreground);
}

.handle {
  background-color: var(--color-handle);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 100%;
  height: calc(var(--full-size));
  position: absolute;
  width: calc(var(--full-size));
}

.handle:hover {
  cursor: grab;
}

.value {
  width: 84px;
  text-align: right;
}